
	{{> head }}

	{{> navbar }}
	<div class="row">

		<div class="col-8">
			<h1>Medusa</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam illo minus est odio, officia deserunt, excepturi asperiores temporibus! Eos aut iste et dolore, quidem esse deserunt laboriosam sequi assumenda molestias.
			</p>
		</div>
		<div class="col-4">
			<img src="assets/img/medusa.jpg" class="img-thumbnail" alt="">
		</div>
		
	</div>
	
	{{> footer }}